.slide-enter {
    transform: translateX(-100%);
    transition: transform 300ms ease-in;
}

.slide-enter-active {
    transform: translateX(0%);
}

.slide-exit {
    transform: translateX(0%);
    transition: transform 300ms ease-in;
}

.slide-exit-active {
    transform: translateX(100%);
}

.slide-appear {
    transform: translateX(100%);
    transition: transform 300ms ease-in;
}

.slide-appear-active {
    transform: translateX(0%);
}

.language-text:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 5px;
}

.language-text.javascript:before {
    background-color: #f1e05a;
}

.language-text.python:before {
    background-color: #3572A5;
}

.language-text.java:before {
    background-color: #b07219;
}

.language-text.c++:before {
    background-color: #f34b7d;
}

.language-text.c:before {
    background-color: #555555;
}

.language-text.ruby:before {
    background-color: #701516;
}

.language-text.swift:before {
    background-color: #ffac45;
}

.language-text.go:before {
    background-color: #00ADD8;
}

.language-text.php:before {
    background-color: #4F5D95;
}

.language-text.html:before {
    background-color: #e44b23;
}

.language-text.css:before {
    background-color: #563d7c;
}

.language-text.kotlin:before {
    background-color: #F18E33;
}

.language-text.csharp:before {
    background-color: #178600;
}

.language-text.typescript:before {
    background-color: #3178C6;
}

.language-text.nix:before {
    background-color: #7e7eff;
}

.language-text.shell:before {
    background-color: #89e051;
}

@-webkit-keyframes scaleAnimation {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleAnimation {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes drawCircle {
    0% {
        stroke-dashoffset: 151px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes drawCircle {
    0% {
        stroke-dashoffset: 151px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes drawCheck {
    0% {
        stroke-dashoffset: 36px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes drawCheck {
    0% {
        stroke-dashoffset: 36px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#successAnimationCircle {
    stroke-dasharray: 151px 151px;
    stroke: green;
}

#successAnimationCheck {
    stroke-dasharray: 36px 36px;
    stroke: green;
}

#successAnimationResult {
    fill: green;
    opacity: 0;
}

#successAnimation.animated {
    -webkit-animation: 1s ease-out 1.2s 1 both scaleAnimation;
    animation: 1s ease-out 1.2s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
    -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 1.2s 1 both drawCircle, 0.3s linear 2.1s 1 both fadeOut;
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 1.2s 1 both drawCircle, 0.3s linear 2.1s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
    -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 1.2s 1 both drawCheck, 0.3s linear 2.1s 1 both fadeOut;
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 1.2s 1 both drawCheck, 0.3s linear 2.1s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
    -webkit-animation: 0.3s linear 2.1s both fadeIn;
    animation: 0.3s linear 2.1s both fadeIn;
}